{% block subject %}Resetting your password{% endblock %}

{% block body_text %}
{% autoescape false %}
Hello {{ user.username }} !

You can reset your email by accessing {{ confirmationUrl }}

Greetings,
the Acme team
{% endautoescape %}
{% endblock %}

{% block body_html %}
Hello {{ user.username }} !
You can reset your email by accessing <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a> 
{% endblock %}