{% extends 'FOSUserBundle::layout.html.twig' %}
{% block fos_user_content %}
<div class="fos_user_registration">
    <h3>{{ 'header.register' | trans({'%displayName%': userInformation.displayName}, 'HWIOAuthBundle') }}</h3>
    <div class="row">
        <div class="span6">
            <form action="{{ path('hwi_oauth_connect_registration', {'key': key}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                {{ form_widget(form) }}
                <div>
                    <button type="submit" class="btn btn-primary">{{ 'Submit'|trans({}, 'HWIOAuthBundle') }}</button>
                    <a href="{{ path('hwi_oauth_connect') }}" class="btn">{{ 'cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                </div>
            </form>
        </div>
		        <div class="profile_pict">
		<img src="http://graph.facebook.com/{{ userInformation.username}}/picture?type=small" />
        </div>
    </div>
 </div>
{% endblock fos_user_content %}
