<div class="fos_user_registration">
<div class="connect_with">
    {% for owner in hwi_oauth_resource_owners() %}
    {% if owner | trans({}, 'HWIOAuthBundle') == 'facebook' %}
       <a href="{{ hwi_oauth_login_url(owner) }}" ><img src="{{ asset('bundles/openuser/images/fb.jpg') }}" /> </a>
    {% else %}
     <!--  <a href="{{ hwi_oauth_login_url(owner) }}" ><img src="{{ asset('bundles/openuser/images/google.jpg') }}" /> </a> <br />-->
    {% endif %}
    {% endfor %}
</div>
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
<div class="row">
    {{ form_widget(form, { 'attr': {'class': 'c4'} }) }}
</div>
    <div class="fos_user_registration_btn">
        <input type="submit" value="{{ 'Register'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
</div>